*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#pedido{
    background-color: #fdfd03;
    width: 150px;
    height: 50px;
    top: 115px;
    right: 0;
    position: fixed;
    text-align: center;
    margin-top: 4rem;
    z-index: 1;
    border: solid #000;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;

}

#pedido a{
    color: #ff0000;
}

#pedido:hover{
    background-color: #00ff88;
}

body{
    background-color: rgb(242, 255, 8);
    margin-top: 170px;

}

header{
    background: linear-gradient(to bottom, #fe0404,#fdfd03);
    height: 150px;
    width: 100%;
    padding: 1rem;
    position: fixed;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    top: 0px;
}

nav{
    text-align: center;
    font-size: 1.0rem;
    word-spacing: 10px;  
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover{
    color: #fff;
    text-shadow: 2px 2px 3px#ffe100;
    
}

section{
    padding-top:30px;
    text-align: center;
}

section h2{
    padding-bottom: 20px;
    font-size: 29px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    
}

#grid-conteudo{
    background-color: #de1111;
    border-radius: 20px;
    width: 345px;
    margin: auto;
    color: #fff;
    font-weight: bold; 
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.grid div{
    
    text-align: center;
    padding: 2px;
    
}
figure{
    text-align: center;
    aspect-ratio: 16 / 9;
}

.imagens-site{
    border-radius: 20px 20px 50px 20px;
    width: 60%;
    height: 70%;
    border: solid 4px #fedd04;
    object-fit: cover;
    background-color: #fff;   
}

.imagens-site-2{
    border-radius: 20px 20px 50px 20px;
    width: 60%;
    height: 70%;
    border: solid 4px #fedd04;
    object-fit: contain;
    background-color: #fff;   
}

footer{
    background: linear-gradient(to bottom,#fdfd03,#fe0404);
    text-align: center;
    
    
}
#contato{
    color: #fff;
    text-shadow: solid 3px #000 ;
}

/*BOTAO WHATSAPP*/

.icone{
    
    position: fixed;
    z-index: 1;
    right: 25px;
    bottom: 80px;

    

}



.pulsar img{
    width: 50px;
    height: 50px;
    background: transparent;
    margin-top: 12px;
}

.pulsar{
    position: relative;
    width: 70px;
    height: 70px;
    background: #00ff88;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}
.pulsar::before, .pulsar::after{
    content: '';
    display: block;
    position: absolute;
    left: -60px;
    right: -60px;
    top: -60px;
    bottom: -60px;
    border-radius: 50%;
    border: 2px solid #1dfa0d;
    animation: animar 1.5s linear infinite;
    opacity: 0; /*PARA NAO BUGAR O PULSAR*/

}

.pulsar::after{
    animation-delay: .5s;
}

@keyframes animar{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }

}
