*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(242, 255, 8);

}
header{
    background: linear-gradient(to bottom, #fe0404,#fdfd03);
    height: 30%;
    width: 100%;
    padding: 1rem;
    position: fixed;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}
nav{
    text-align: center;
    font-size: 1.0rem;
    word-spacing: 10px;  
}

a{
    text-decoration: none;
    color: #fff;
}

footer{
    background: linear-gradient(to bottom,#fdfd03,#fe0404);
    text-align: center;
    color: #fff;
}

section{
    padding-top: 220px;
}

#grid-conteudo{
    background-color: #fff;
    border-radius: 20px;
    
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid div{
    
    text-align: center;
    padding: 2px;

}
figure{
    text-align: center;
}
.imagens-site{
    border-radius: 20px 20px 50px 20px;
    width: 90%;
    height: 70%;
    border: solid #fe0404;
    
}